.card {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 420px;
    background-color: #fff;
    border-radius: 28px;
    box-shadow: 0 4px 24px rgba(0,0,0,0.08);
    margin: 0 auto;
    padding-bottom: 20px;
}

.row1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 28px 0 28px;
}

.icon {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.col1 {
    display: flex;
    gap: 10px;
    align-items: center;
    font-weight: 700;
}