.card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    max-width: 420px;
    background: linear-gradient(to right, #FF512F, #DD2476);
    border-radius: 28px;
    box-shadow: 0 4px 24px rgba(0, 0, 0, 0.08);
    margin: 0 auto;
    color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
}

.col {
    display: flex;
    flex-direction: column;
}

.title {
    font-weight: 700;
    font-size: 21px;
}

.subtitle {
    font-size: 13px;
}

.degreeC {
    font-size: 40px;
    font-weight: 700;
}