.container1 {
    z-index: 0;
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 32px rgba(31, 38, 135, 0.2);
}

.container2 {
    z-index: 0;
    width: 82%;
    margin: 0 auto;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

.main {
    display: flex;
    flex-direction: column;
}

.title {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.filter {
    display: flex;
    gap: 20px;
}

.filter-option {
    background-color: #f0f0f0;
    padding: 10px 20px;
    border-radius: 10px;
}

.menu {
    position: fixed;
    z-index: 100;
    right: 200px;
}
