.card {
    display: flex;
    flex-direction: column;
    max-width: 350px;
    gap: 10px;
    justify-items: center;
    justify-content: center;
}

.image {
    border-radius: 10px;
}

.desc {
    font-weight: 700;
}

.view {
    color: yellowgreen;
}