.card {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 420px;
    background-color: #fff;
    border-radius: 28px;
    box-shadow: 0 4px 24px rgba(0, 0, 0, 0.08);
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.row1 {
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: space-between;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.title {
    font-size: 15;
}

.subtitle {
    font-size: 13;
    color: #5C6E77;
}

.row2 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 10px;
}