:root {
  --container-width: 540px;
  --font-family: 'Roboto', sans-serif;
  --font-size: 13px;
  --font-weight-bold: 700;
  --color-white: #ffffff;
  --color-background: #ecf0f1;
  --spacing: 16px;
  --block-height: 54px;
  --label-width: 160px;
  --spacing-bottom: 16px;


  /* BANDWIDTH */
  --bandwidth-primary: #561d1d;
  --bandwidth-secondary: #cd0e00;
  --bandwidth-text: "Bandwidth";
  --bandwidth-percentage: 30%;
  --bandwidth-percentage-text: "30%";
  /* STORAGE */
  --storage-primary: #0097a7;
  --storage-secondary: #00bcd4;
  --storage-text: "Storage";
  --storage-percentage: 50%;
  --storage-percentage-text: "50%";
  /* USERS */
  --users-primary: #070ab9;
  --users-secondary: #181ce1;
  --users-text: "Users";
  --users-percentage: 70%;
  --users-percentage-text: "70%";
}

.container {
  width: var(--container-width);
  margin: 0 auto;
}

.row {
  display: flex;
  margin-bottom: var(--spacing-bottom);
  height: var(--block-height);
}

.left-column {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: var(--label-width);
  height: 100%;
}

.left-column>span {
  margin-right: var(--spacing);
  color: var(--color-white);
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--font-weight-bold);
  text-transform: uppercase;
}

.right-column {
  flex: 1;
  background-color: var(--color-background);
}

.right-column-percent {
  display: flex;
  align-items: center;
  height: 100%;
}

.right-column-percent>span {
  margin-left: var(--spacing);
  color: var(--color-white);
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--font-weight-bold);

}

/* BANDWIDTH */
.bandwidth-color-primary {
  background-color: var(--bandwidth-primary)
}

.bandwidth-color-secondary {
  background-color: var(--bandwidth-secondary);
}

.bandwidth-text::before {
  content: var(--bandwidth-text);
}

.bandwidth-percent-text::before {
  content: var(--bandwidth-percentage-text);
}

.bandwidth-percent {
  width: var(--bandwidth-percentage)
}

/* STORAGE */
.storage-color-primary {
  background-color: var(--storage-primary);
}

.storage-color-secondary {
  background-color: var(--storage-secondary);
}

.storage-text::before {
  content: var(--storage-text);
}

.storage-percent-text::before {
  content: var(--storage-percentage-text);
}

.storage-percent {
  width: var(--storage-percentage);
}

/* USERS */
.users-color-primary {
  background-color: var(--users-primary);
}

.users-color-secondary {
  background-color: var(--users-secondary);
}

.users-text::before {
  content: var(--users-text);
}

.users-percent-text::before {
  content: var(--users-percentage-text);
}

.users-percent {
  width: var(--users-percentage);
}